body,
html {
  width: 100%;
  height: 100%;
  font-family: '  ', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-size: 3rem;
  color: #d4e1ef;
}
hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 65px;
  opacity: 1;
}
.btn-xl {
  padding: 1rem 2rem;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary {
  background-color: #D18700;
  border-color: #D18700;
}
.btn-primary:hover {
  background-color: #A36A00;
  border-color: #A36A00;
}
div.container {
  height: 100%;
  padding: 10%;
}
div.buffer {
  height: 10rem;
}